.module3-form-main {
    margin: 48px 108px;

    .nav-tabs .nav-link {
        min-height: 42px;
        text-align: left;
        font: normal normal bold 12px/17px Manrope;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        padding-right: 20px;
        padding-left: 20px;
        cursor: pointer;
        background: #f4f4f4;
        border-right: 1px solid #d3d3d4;
        color: #7D7D7F;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .nav-tabs .nav-link.active {
        color: #000;
        background: #fff;
    }
}

.form-heading {
    font: normal normal bold 24px/33px Manrope;
    letter-spacing: 0px;
    color: #27272A;
}

.form-subheading {
    font: normal normal normal 16px/22px Manrope;
    letter-spacing: 0px;
    color: #7D7D7F;
    margin-bottom: 32px;
}

.forms-table {
    width: 100%;
}


.result-value {
    background: #FEEFD3 0% 0% no-repeat padding-box;
}

.final-calculatedvalue {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    font: normal normal 600 16px/22px Manrope;
    letter-spacing: 0px;
    color: #27272A;
}

.finalresult-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container-emboided {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D3D3D4;
    border-top: none;
    padding: 0 20px;

    .group-heading {
        padding: 16px 0;
        margin-bottom: 0;
    }
}

.add-entry {
    text-align: left;
    font: normal normal 600 16px/22px Manrope;
    letter-spacing: 0px;
    color: #F9B123;
    cursor: pointer;
}

.module3-tab-heading {
    text-align: left;
    font: normal normal bold 12px/17px Manrope;
    letter-spacing: 1.2px;
    color: #000000;
    text-transform: uppercase;
}

.module3-heading {
    text-align: left;
    font: normal normal bold 12px/17px Manrope;
    letter-spacing: 1.2px;
    color: #000000;
    text-transform: uppercase;
    margin: 12px 49px;
}

.add-tab {
    width: 24px;
    height: 24px;
    background: transparent 0% 0% no-repeat padding-box;
    content: url("../../assets/vuesax-bold-add-circle.svg");
    margin: 5px 12px;
}

ul.nav.nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: initial;
    width: 100%;
    gap: 40px;

    div {
        display: flex;
        flex-wrap: wrap;
    }
}

li.nav-item.compare-portfolios {
    align-self: flex-end;

    a.nav-link {
        font: normal normal 600 14px/19px Manrope;
        letter-spacing: 0px;
        color: #F9B123;
        background: #fff;
        text-transform: capitalize;
        border-bottom: 1px solid #dee2e6;
        border-right: none;
    }
    a.nav-link.active {
        border: 1px solid #F9B123;
        border-bottom: none;
        color: #F9B123;
    }
}
.delete-portfolio {
    content: url("../../assets/vuesax-bold-close-circle.svg");
    width: 16px;
    height: 16px;
}