.parent-div {
    flex: 1 1;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 24px;
    gap: 24px;
}
.content-div {
    width: 100%;
    margin-bottom: 64px;
}
.main {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.form-input {
    flex: 1;
}

.calculated-main {
    flex: 1;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
    max-width: 400px;
    align-self: baseline;
}
.calculated-container {
    margin: 32px 40px;
    margin: 32px 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.form-heading {
    font: normal normal bold 24px/33px Manrope;
    letter-spacing: 0px;
    color: #27272A;
}
.form-subheading {
    font: normal normal normal 16px/22px Manrope;
    letter-spacing: 0px;
    color: #7D7D7F;
    margin-bottom: 32px;
}
.form-div {
    display: flex;
    gap: 24px;
}
.btn-div {
    align-self: flex-end;
    margin: 17px 0;
    text-align: right;
}   
.group-heading {
    font: normal normal bold 16px/22px Manrope;
    letter-spacing: 1.6px;
    color: #B8BF29;
    text-transform: uppercase;
    margin-bottom: 20px;
} 
.calculated-last {
    width: 100%;
    max-width: initial;
}
.baseline-label {
    margin-top: 0;
    margin-bottom: 0;
}
.baseline-div {
    margin-bottom: 24px;
}