.c-nav {
    width: 288px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -8px 16px 40px #27272A0A;
    border: 1px solid #F9B123;
}

.c-nav-item {
    min-height: 17px;
    font: normal normal bold 12px/17px Manrope;
    letter-spacing: 1.2px;
    color: #A8A8A9;
    text-transform: uppercase;
    margin: 16px 0;

    width: 202px;
    height: 17px;
    color: var(--unnamed-color-a8a8a9);
    text-align: left;
    font: normal normal bold 12px/17px Manrope;
    letter-spacing: 1.2px;
    color: #A8A8A9;
    opacity: 1;
}

.inner-box {
    margin: 20px 24px;
}

.current-item {
    text-align: left;
    font: normal normal bold 12px/17px Manrope;
    letter-spacing: 1.2px;
    color: #F9B123;
    text-transform: uppercase;
    opacity: 1;
}

.current-subitem {
    text-align: left;
    font: normal normal medium 16px/22px Manrope;
    letter-spacing: 0px;
    color: #27272A;
    opacity: 1;
}

.tech-eco-nav {
    text-align: left;
    font: normal normal medium 16px/22px Manrope;
    letter-spacing: 0px;
    color: #A8A8A9;
    opacity: 1;
}