.btn {
    height: 56px;
    background: #F9B123 0% 0% no-repeat padding-box;
    border: none;
    text-align: center;
    font: normal normal 600 16px/22px Manrope;
    letter-spacing: 0px;
    color: #27272A;
    cursor: pointer;
    padding: 0 32px;
}
.btn:disabled {
    background: #F9B123 0% 0% no-repeat padding-box;
}