header {
  height: 64px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding-left: 40px;
  padding-right: 40px;
}

.header-img {
  width: 115px;
  height: 32px;
  content: url("../../assets/logo.png");
  background: transparent 0% 0% no-repeat padding-box;
  margin-right: 32px;
  cursor: pointer;
}

.catapult-img {
  content: url("../../assets/catapult.png");
  background: transparent 0% 0% no-repeat padding-box;
  width: 92px;
  height: 32px;
  cursor: pointer;
}

.header-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.user-div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user-circle {
  width: 32px;
  height: 32px;
  background: #e9e9e9 0% 0% no-repeat padding-box;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  cursor: pointer;
}

.user-img {
  content: url("../../assets/user.svg");
  width: 20px;
  height: 20px;
}

.user-name {
  text-align: left;
  font: normal normal 600 16px/22px Manrope;
  letter-spacing: 0px;
  color: #27272a;
  margin-right: 12px;
}

.user-arrow {
  content: url("../../assets/user-arrow.svg");
  width: 20px;
  height: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 40px;

  a {
    text-align: center;
    font: normal normal 600 16px/22px Manrope;
    letter-spacing: 0px;
    color: #a8a8a9;
    opacity: 1;
    text-decoration: none;
  }

  a.active {
    color: #f9b123;
  }
}

.navbar-nav .dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0px;
  text-align: left;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
}
.header-div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  flex: 1;
  align-items: center;
}
.logo-center {
  justify-content: center;
}
.header-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-custom-btn{
  height: 32px !important;
}