.image_input p {
  position: absolute;
  right: 16px;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font: normal normal normal 16px/22px Manrope;
  color: #27272A;
}

.image_input {
  position: relative;
}

.input-heading {
  font: normal normal 600 16px/22px Manrope;
  letter-spacing: 0px;
  color: #27272A;
  margin-bottom: 4px;
}
.input-para {
  font: normal normal normal 16px/22px Manrope;
  letter-spacing: 0px;
  color: #7D7D7F;
  margin-bottom: 0px;
}
.input-main {
  margin-bottom: 24px;
}