.table-heading {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
}
.table-data{
  padding: 24px;
}
.add-img{
  /* content: url(D:\wmg\src\assets\vuesax-bold-add-circle.svg); */
}
.trash-img{
  /* content: url(D:\wmg\src\assets\vuesax-outline-trash.svg ) */
}
.emission-data{
  display: flex;
}
.add-entry{
  padding: 24px;
}